.tag-dropbox {
	width: min(512px, 50vw);
}

label {
	font-size: calc(1rem * 40 / 3 / 16);
}

.code-file {
	background-color: var(--accent);
	border-radius: 5px;
	border: 2px solid var(--neutral);
}

.code-file-button {
	min-width: 4rem;
}

.code-file-button.active {
	background-color: var(--primary);
}
