.search-container {
	display: flex;

	justify-content: center;
	align-items: center;

	margin: 2rem auto auto auto;

	width: 40%;

	gap: 0.25rem;
}

@media screen and (max-width: 768px) {
	.search-container {
		display: flex;

		justify-content: center;
		align-items: center;

		margin: 2rem auto auto auto;

		width: 60%;

		gap: 0.25rem;
	}
}

.sort-container {
	width: fit-content;
	margin: auto;
	gap: 0.25rem;
	justify-content: center;
}

.post-preview-card{
	background-color: var(--accent);
}
