{
  "tabWidth": 4,
  "useTabs": true,
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "singleQuote": true,
  "printWidth": 200,
  "jsxSingleQuote": true,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
