.schematic-info-image {
	display: block;
	border-radius: 5px;
	border: 2px solid var(--neutral);

	min-width: var(--preview-image-min-size);
	min-height: var(--preview-image-min-size);

	max-width: min(512px, 80vw);

	align-self: flex-start;
}
