.user-name-card {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;

	gap: 0.25rem;
	height: 2rem;
	min-width: 5rem;

	padding: 0.25rem 0.25rem 0.25rem 0;
	box-sizing: border-box;

	width: fit-content;

	border: 2px solid var(--gray);
	border-radius: 1rem;

	background-color: var(--accent);

	cursor: pointer;

	text-decoration: none;
	overflow: hidden;
}

.admin {
	color: lime;
	text-transform: uppercase;
}

.avatar {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
}

.name {
	text-decoration: none;
	text-transform: capitalize;
}

.capitalize {
	text-transform: capitalize;
}
