.admin {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.tab-button-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
	margin: 1rem;
	padding: 0.2rem;


	border-radius: 5px;
	border: 1px solid var(--light-transparent-background);
	background-color: var(--dark-transparent-background);
}
