.input-address-dialog {
	width: 50vw;

	background-color: transparent;
}

.input-address {
	outline: none;
	border: none;
	border-bottom: 2px solid var(--white);
	background-color: transparent;
}

.input-address:is(:hover, :focus) {
    outline: none;
	border: none;
    border-bottom: 2px solid var(--white);
	background-color: transparent;
}

@media screen and (max-width: 768px) {
	.input-address-dialog {
		width: 80vw;
	}
}
