.navigation-bar {
	position: fixed;
	top: 0;
	z-index: 999;
}

.icon {
	background-color: transparent;
	outline: none;
	border: none;
}

.icon .popup {
	position: fixed;
	overflow: hidden scroll;

	display: block;
	padding: 10px;
	top: 0;
	left: 0;
	max-width: 0;
	height: 100%;
	visibility: hidden;
	border-radius: 5px;

	background-color: var(--black);
}

.icon:hover {
	visibility: hidden;
}

.icon:hover .popup {
	visibility: visible;
	max-width: 300px;

	animation: popup 0.2s linear;
}

@keyframes popup {
	0% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(0);
	}
}

.icon:hover .popup::before {
	visibility: visible;
	max-width: 300px;
}

.menu-icon {
	image-rendering: pixelated;
}

.nav-link-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	gap: 0.5rem;
}

.nav-link {
	display: flex;
	justify-content: flex-start;

	font-size: 18px;
	text-decoration: none;
	padding: 0.2rem;

	color: var(--white);
	background-color: transparent;

	font-weight: bold;
}

.nav-link:hover {
	color: var(--black);
	background-color: var(--yellow);
}
