.navigation-bar {
	position: fixed;
	top: 0;
	z-index: 999;

	height: 100vh;
	height: 100dvh;
}

.icon .popup {
	position: fixed;
	overflow: hidden scroll;

	display: block;
	padding: 10px;
	top: 0;
	max-width: 0;
	height: 100%;
	visibility: hidden;
	border-radius: 5px;
}

.icon:hover {
	visibility: hidden;
}

.icon:hover .popup {
	visibility: visible;
	max-width: 300px;
}

.icon:hover .popup::before {
	visibility: visible;
	max-width: 300px;
}

.menu-icon {
	image-rendering: pixelated;
}

.nav-link-container {
	display: block;
}

.nav-link {
	margin: 3px;
	padding: 5px;

	font-size: 18px;

	color: white;
	background-color: transparent;

	font-weight: bold;
}

.nav-link:hover {
	color: black;
	background-color: white;
}
