.home {
	width: 100%;
	height: 100%;
	color: white;

	overflow: hidden hidden;
}


.content {
	display: block;
	align-items: center;
	justify-items: center;
	padding: 15px;
	margin: 50px;
}

.link-container {
	display: block;
}

.link {
	color: white;
}

.link:hover {
	color: chartreuse;
}
