.search-bar {
	display: flex;

	height: 2.5rem;
	min-width: 250px;
	border-radius: 5px;
	background-color: var(--accent);
}

.input-bar[type='text'] {
	outline: none;
	border: none;
	box-shadow: none;
	background-color: transparent;

	height: 100%;
	width: 100%;

	padding-left: 1rem;
}

.input-bar::placeholder {
	background-color: transparent;
}
