.schematic {
	overflow: hidden auto;

	height: 100%;
	width: 100%;
}

.search-container {
	display: flex;

	justify-content: center;
	align-items: center;

	margin: 2rem auto auto auto;

	width: 40%;

	gap: 0.25rem;
}

@media screen and (max-width: 768px) {
	.search-container {
		display: flex;

		justify-content: center;
		align-items: center;

		margin: 2rem auto auto auto;

		width: 60%;

		gap: 0.25rem;
	}
}

.search-container > * {
	width: 100%;
}

.sort-container {
	width: fit-content;
	margin: auto;
	gap: 0.25rem;
	justify-content: center;
}

.schematic-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--preview-image-min-size));
	grid-gap: 1rem;

	justify-content: center;
	align-content: flex-start;

	margin: 10px;
}

.schematic-info {
	overflow: hidden auto;

	padding: 5rem;

	height: 100%;
	width: 100%;
	
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.schematic-info-image {
	display: block;
	border-radius: 5px;
	border: 2px solid var(--white);

	min-width: var(--preview-image-min-size);
	min-height: var(--preview-image-min-size);

	max-width: min(512px, 100vw);
}

.search-button {
	background-color: var(--black);
	color: white;
	border-radius: 5px;
	outline: none;
	border: none;
}

.search-button:hover {
	background-color: var(--yellow);
	color: var(--black);
	padding: 0.2rem;
}
