.dialog {
	z-index: var(--popup-content-z-index);
	top: 0;
	left: 0;

	background-color: transparent;
}

.dialog::before {
	position: fixed;
	content: '';
	z-index: -1;
	display: block;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.6);
}

.dialog-card {
	position: relative;
	min-width: 20vw;

	overflow: hidden;

	background-color: var(--accent);
	border: 2px solid var(--accent);
	border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
	.dialog-card {
		min-width: 50vw;
	}
}
