.user-name-card {
	display: flex;
	align-items: center;

	gap: 0.25rem;
	height: 2rem;
	min-width: 5rem;

	padding: 0.25rem 0.25rem 0.25rem 0;
	box-sizing: border-box;

	overflow: hidden;

	width: fit-content;

	border: 2px solid var(--white);
	border-radius: 1rem;
	
	background-color: var(--black);
}

.user-name-card > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	}

.name {
	text-decoration: none;
}
