.user {
	height: 100%;
	width: 100%;
}

.user-card {
	padding: 3rem;
}

.info-card {
	display: grid;
}

.avatar-image {
	border: 2px solid var(--neutral);

	align-self: flex-start;
}

.username {
	font-size: 2rem;
}
