.dropbox-element {
	display: flex;
	justify-content: flex-start;

	outline: none;
	border: none;

	background-color: transparent;

	padding: 0.25rem;
}

.dropbox-element:is(:active, :hover, :focus) {
	display: flex;
	justify-content: flex-start;

	color: var(--accent);
	background-color: var(--primary);
}

.dropbox-element:is(:active, :hover, :focus) > * {
	display: flex;
	justify-content: flex-start;

	color: var(--accent);
	background-color: var(--primary);
}
