.dropbox-element {
	display: flex;
	justify-content: flex-start;

	outline: none;
	border: none;
}

.dropbox-element:is(:active, :hover) {
	display: flex;
	justify-content: flex-start;

	color: var(--black);
	background-color: var(--yellow);
}

.dropbox-element:is(:active, :hover) > * {
	display: flex;
	justify-content: flex-start;

	color: var(--black);
	background-color: var(--yellow);
}
