.dropdown {
	font-size: 18px;
	text-decoration: none;

	color: var(--white);
	background-color: transparent;

	font-weight: bold;
}

.dropdown-icon {
	position: absolute;

	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.dropdown:is(:hover, :focus) {
	color: var(--black);
	background-color: var(--yellow);
}
.dropdown:is(:hover, :focus) > * {
	color: var(--black);
	background-color: var(--yellow);
}

.dropdown-container {
	position: relative;
	width: 100%;
}
