.dropbox {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	height: 2rem;
	border-radius: 5px;
	background-color: var(--accent);

	justify-content: center;

	border: 2px solid var(--neutral);

	width: 100%;
}

.dropbox-input {
	display: flex;
	align-items: center;

	height: 100%;

	margin-left: 0.35rem;
}

.dropbox-text {
	box-shadow: none;
	background-color: transparent;

	height: 100%;
	width: 100%;
}

.dropbox-text ::placeholder {
	background-color: transparent;
}

.dropbox-popup {
	position: relative;
}

.dropbox-element-container {
	position: absolute;
	display: grid;

	width: 100%;

	z-index: var(--overlay-z-index);

	max-height: 50vh;

	margin-top: 0.5rem;

	background-color: var(--accent);
	overflow: hidden auto;

	border: 2px solid var(--neutral);
	border-radius: 5px;
}
