.search-bar-container {
	display: flex;

	height: 2.5rem;
	width: 50%;
	min-width: 250px;
	border-radius: 5px;
	background-color: var(--dark-transparent-background);
}

.search-bar[type='text'] {
	outline: none;
	border: none;
	box-shadow: none;
	background-color: transparent;

	height: 100%;
	width: 100%;

	padding-left: 1rem;
}

.search-bar::placeholder {
	background-color: transparent;
}
