.theme[property='dark'] {
	--accent: var(--black);
	--neutral: var(--white);
	--primary: var(--yellow);

	color: var(--neutral);
}

.theme[property='light'] {
	--accent: var(--white);
	--neutral: var(--black);
	--primary: var(--yellow);

	color: var(--neutral);
}

input,
textarea {
	color: var(--neutral);
}
