html,
body,
#root {
	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0px;
	z-index: 0;

	overflow: hidden;
}

* {
	font-family:
		'Oswald',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: white;

	font-weight: 800;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color: rgb(50, 200, 200);
}

*::-webkit-scrollbar {
	display: none;
}

:root {
	--black: #111111;
	--gray: #3f3f3f;
	--white: #d0d0d0;
	--yellow: #ffcb74;

	--preview-image-min-size: 192px;

	--navbar-height: 2.5rem;

	--model-z-index: 2;
	--popup-message-z-index: 3;

	--error-color: #d0342c;
	--warning-color: #e9d502;
	--info-color: lightgreen;
}

input[type='file'] {
	display: none;
}

footer {
	min-height: 2rem;
}
