html,
body,
#root {
	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0px;
	z-index: 0;

	overflow: hidden;
}

* {
	font-family:
		'Oswald',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-weight: 800;

	border: none;
	outline: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

section{
	padding: 0;
	margin: 0;
	
}

a {
	color: rgb(50, 200, 200);
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #111111;
	border-radius: 10px;
}

*::-webkit-scrollbar {
	width: 7px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: white;
}

:root {
	--gray: #3f3f3f;
	--black: #111111;
	--white: #c0c0c0;
	--yellow: #ddad00;

	--preview-image-min-size: 192px;

	--navbar-height: 3rem;

	--overlay-z-index: 2;
	--model-z-index: 3;
	--popup-message-z-index: 4;
	--navigation-bar-z-index: 5;
	--top-z-index: 6;

	--error-color: #d0342c;
	--warning-color: #e9d502;
	--info-color: #3ac152;
}

input[type='file'] {
	display: none;
}

textarea,
textarea:is(:focus, :hover) {
	outline: none;
	border: none;
	resize: none;
	background-color: transparent;
}

footer {
	min-height: 2rem;
}
