.map-preview-card {
	width: var(--preview-image-min-size);
	border-radius: 5px;
	overflow: hidden;
	border: 2px solid var(--white);
	background-color: var(--black);

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}
