.map-preview-image-card {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;

	background-color: black;
}

.map-preview-image-wrapper {
	width: var(--preview-image-min-size);
	height: var(--preview-image-min-size);

	border-bottom: 2px solid var(--gray);
}

.map-preview-image {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	object-fit: contain;
	overflow: hidden;
}
