#popup-container {
	position: fixed;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	top: 10vh;
	right: 0.25rem;

	max-height: 80vh;

	z-index: var(--popup-message-z-index);

	box-sizing: border-box;

	overflow: hidden auto;
}

.popup-message {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	justify-content: space-between;

	min-width: 20vw;
	max-width: 30vw;

	border: 2px solid var(--gray);

	animation: slide-in 0.5s;
}

.popup-message-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;

	padding: 1rem;
}

.timer {
	height: 0.2rem;
	width: 100%;

	background-color: rgb(100, 100, 255);
	
	transform-origin: left center;
}

@keyframes timer {
	100% {
		transform: scaleX(0);
	}
}

@media screen and (max-width: 768px) {
	.popup-message {
		min-width: 30vw;
		max-width: 50vw;
	}
}

@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
